# Functions.

* A block of code that are designed to do one specific job.
* When one wants to perform a particular task that they have defined in a function, you *call* the function responsible for it.
* If one needs to perform that task multiple times through out your program, you do not need to type the code all over again and again: you just call the function dedicated to handing that task.
* Using functions makes the program easy to write, read, test and fix.

In [1]:
# zen of python
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Types of Functions

1. 'User-defined functions' - Functions that we create/define ourselves in our program and then call them wherever we want.
2. 'Built-in Functions' - Functions already defined in Python libraries and we call the directly.

# Defining a Function.

In [10]:
# example 1

def greet_user():
    """Dislay a simple greeting"""
    print("Hello !")
    
greet_user()

Hello !

 **'def greet_user():'**
    
* Using the keyword 'def' to inform python that you are defining a function. Refered to as *function definition*.
* Function definition tells python the name of the function, in the example 1 above, **greet_user**.
* It also informs python, if applicable, what kind of information the function needs to perform its task/job, this is passed into the function using the '() - parenthesis'. In this case, the function needs no information to perform its tasks hence the empty brackets.
* Any indented lines that follow the ':- semicolon'make up the body of the function.

 **'"""Display a simple greeting"""'**

* Comment called *docstring*, that describes what the function does.
* If a single short one line statement, we can use a #.

 **'print("Hello World !")''**
* Function body line(s) indented inside the function.
* Contains set of instructions on the code to be executed.

 **'greet_user()'**
* When you want to call a function, you call it.
* A **function call** tells python to execute the indented code in the function body.
* To call a function, write the function name, in our example above, 'greet_user', followed by any necessary information in the '()'.
* example function call ; greet_user().

## comment

"""Comment"""

"""
This is a multiple line comment
The tripple double quotes
Used to create multiple line comments
"""
can also be writen as ;

#This is a multiple line comment
#The tripple double quotes
#Used to create multiple line comments

In [8]:
# example  2
  # defining our function
    """Simple function to add numbers"""
    a = 2
    b = 5
    sum = a + b
    print(sum)
    
add_numbers()  # calling our function

7

### Passing information to a function.

* The function greet_user can only tell the useer *Hello* but cannot greet them by name.

In [11]:
# example 3

def greet_user(username):
    """Dislay a simple greeting"""
    print(f"Hello {username} !")
    
greet_user('Mungai')

Hello Mungai !

* By adding the 'username' in our function definition, we are allowing the function to accept any value for *username*.
* Expectations: - provide a value for a *username* each time you call it.

In [17]:
# example 4
# second function call - changing value names 

greet_user('Nessa') # here we have changed the user name value

Hello Nessa !

* 'parameters' - in the example greet_user(username), *username* is the parameter. A piece of information the function needs to do its job/task.
* 'arguments' - the value *Mungai* and *Nessa* are arguments. A piece of information that is passed from a function call to a function.

In [18]:
# example 5
# third function call

greet_user()

TypeError: greet_user() missing 1 required positional argument: 'username'

* We must pass in arguments during function calls to avoid errors.

In [19]:
# example 6

def describe_pet(animal_type, pet_name):
    """Display information about a pet"""
    print(f"I have a {animal_type},")
    print(f"My {animal_type}'s name is {pet_name}.")
    
describe_pet('Cat', 'Fluffy')

I have a Cat,
My Cat's name is Fluffy.

* When you call a function, Python must match each argument in the function call with a parameter in the function definition.

In [22]:
# the arguments should match the order of the parameter eg.

describe_pet('Milo', 'Dog') # this is wrong

I have a Milo,
My Milo's name is Dog.

In [24]:
# alternatively use keyword arguments

describe_pet(pet_name='Milo', animal_type='Dog')  # assign arguments to parameters

I have a Dog,
My Dog's name is Milo.

In [ ]:
# default values

def describe_pet(pet_name, animal_type = 'Cat'):
    """Display information about a pet"""
    print(f"I have a {animal_type},")
    print(f"My {animal_type}'s name is {pet_name}.")
    
describe_pet(Fluffy')

* Defining a **default value** for the parameter 'animal_type' and setting it as 'Cat'.

In [25]:
describe_pet('Fluffy')

TypeError: describe_pet() missing 1 required positional argument: 'pet_name'

In [26]:
describe_pet('Milo', 'Dog')

I have a Milo,
My Milo's name is Dog.

In [37]:
### Saturday 19.8.23
## Functions example
# Example 1


# Get student name

def get_student_name():
   
    name = input("student name e.g Vee Nessa \n")
    
    return name

get_student_name()

student name e.g Vee Nessa
Vee Nessa

'Vee Nessa'

In [38]:

# example 2

# Get student scores

def get_scores():
    """Get user input"""
    student_scores = []
    subjects = ["English", "Kiswahili", "Maths", "Science", "GHC"]

    for subject in subjects:
        score = int(input(f"Enter {subject} score: \n"))
        student_scores.append(score)

    return student_scores

get_scores()

Enter English score:
98
Enter Kiswahili score:
93
Enter Maths score:
87
Enter Science score:
89
Enter GHC score:
90

[98, 93, 87, 89, 90]

In [42]:
# example 3
# students grades

def student_grade():

    student_grade = []
    student_scores = get_scores()
    # loop through the grades

    for score in student_scores:
        if (score >= 70) and (score <= 100):
            grade = "A"
            student_grade.append(grade)
        elif (score >= 60) and (score <= 69):
            grade = "B"
            student_grade.append(grade)
        elif (score >= 50) and (score <= 59):
            grade = "C"
            student_grade.append(grade)
        elif (score >= 40) and (score >= 49):
            grade = "D"
        elif (score >= 39) and (score >= 0):
            grade = "E"
            student_grade.append(grade)
            
        else:
            print("Invalid grade")
            student_grade.append(None)
    return student_grade

student_grade()

Enter English score:
98
Enter Kiswahili score:
93
Enter Maths score:
87
Enter Science score:
89
Enter GHC score:
90

['A', 'A', 'A', 'A', 'A']

In [48]:
# get student total

def student_total():
    """Get total scores
    
    Returns:
        Total student scores out of 500
    """
    student_scores = get_grade()
    total = sum(student_scores)
    
    return total

student_total()

Enter English score:
98
Enter Kiswahili score:
93
Enter Maths score:
87
Enter Science score:
89
Enter GHC score:
90

457

In [67]:
# example 2
def student_performance():
    """
    Get student name
    Grade student scores
    Student grade
    Sum of student scores
    
    return: 
    
     student name, student scores, student grade, sum           
    
    """
    student_name = get_student_name()
    student_scores = get_scores()
    student_grade = []

    # loop through the grades

    for score in student_scores:
        if (score >= 70) and (score <= 100):
            grade = "A"
            student_grade.append(grade)
        elif (score >= 60) and (score <= 69):
            grade = "B"
            student_grade.append(grade)
        elif (score >= 50) and (score <= 59):
            grade = "C"
            student_grade.append(grade)
        elif (score >= 40) and (score >= 49):
            grade = "D"
        elif (score >= 39) and (score >= 0):
            grade = "E"
            student_grade.append(grade)
            
        else:
            print("Invalid grade")
            student_grade.append(None)
            
    total = sum(student_scores)
            
    return student_name, student_scores, student_grade, total

In [70]:
student_performance()

KeyboardInterrupt: Interrupted by user

In [71]:
# adding more students performance

student_number = 0
class_performance = {
    "Name":[], 
    "English":[],
    "English_grade":[],
    "Kiswahili":[],
    "Kiswahili_grade":[],
    "Maths":[],
    "Maths_grade":[],
    "Science":[],
    "Science_grade":[],
    "GHC":[],
    "GHC_grade":[],
    "Total":[],
}
while (student_number < 2):
    Individual_student = student_performance()
    Individual_student = list(Individual_student)
    class_performance["Name"].append(Individual_student[0])
    class_performance["English"].append(Individual_student[1][0])
    class_performance["English_grade"].append(Individual_student[2][0])
    class_performance["Kiswahili"].append(Individual_student[1][1])
    class_performance["Kiswahili_grade"].append(Individual_student[2][1])
    class_performance["Maths"].append(Individual_student[1][2])
    class_performance["Maths_grade"].append(Individual_student[2][2])
    class_performance["Science"].append(Individual_student[1][3])
    class_performance["Science_grade"].append(Individual_student[2][3])
    class_performance["GHC"].append(Individual_student[1][4])
    class_performance["GHC_grade"].append(Individual_student[2][4])
    class_performance["Total"].append(Individual_student[3])
    
    student_number += 1

student name e.g Vee Nessa
Vee Nessa
Enter English score:
98
Enter Kiswahili score:
93
Enter Maths score:
87
Enter Science score:
89
Enter GHC score:
90
student name e.g Vee Nessa
Ali Star
Enter English score:
100
Enter Kiswahili score:
95
Enter Maths score:
90
Enter Science score:
89
Enter GHC score:
93

In [72]:
print(class_performance)

{'Name': ['Vee Nessa', 'Ali Star'], 'English': [98, 100], 'English_grade': ['A', 'A'], 'Kiswahili': [93, 95], 'Kiswahili_grade': ['A', 'A'], 'Maths': [87, 90], 'Maths_grade': ['A', 'A'], 'Science': [89, 89], 'Science_grade': ['A', 'A'], 'GHC': [90, 93], 'GHC_grade': ['A', 'A'], 'Total': [457, 467]}

In [75]:
import pandas as pd
df = pd.DataFrame(class_performance)
df

,Name,English,English_grade,Kiswahili,Kiswahili_grade,Maths,Maths_grade,Science,Science_grade,GHC,GHC_grade,Total
0,Vee Nessa,98,A,93,A,87,A,89,A,90,A,457
1,Ali Star,100,A,95,A,90,A,89,A,93,A,467